{% extends 'layout' %}
{% block main %}
<main class="bd-masthead" id="content" role="main">
  <div class="container">
    
    {% for entry in craft.entries.section('secfront') %}
    {% for block in entry.matriz %}
    {{ block.body }}
    {% endfor %}
    {% endfor %}

  </div>
</main>
{% endblock %}
