{% extends 'layout' %}
{% block main %}
<main class="bd-masthead" id="content" role="main">
  <div class="container">
    <ul class="list-group">
      <a class="list-group-item list-group-item-action" href="/webdev/frontend/bootstrap">Introdução à framework Bootstrap 4</a>
      <a class="list-group-item list-group-item-action" href="/webdev/frontend/twig">Twig</a>
      <a class="list-group-item list-group-item-action" href="/webdev/frontend/linux">Commandos de Linux</a>
    </ul>
  </div>
</main>
{% endblock %}
