{% extends 'layout' %}
{% block main %}
<main class="bd-masthead" id="content" role="main">
  <div class="container">
    {% for entry in craft.entries.section('webfrontend') %}
    {% for block in entry.adicionar %}
    {{ block.conteudo }}
    {% endfor %}
    {% endfor %}
  </div>
</main>
{% endblock %}
