{% extends 'layout' %}
{% block main %}
<main class="bd-masthead" id="content" role="main">
      <div class="container">
            <ul class="list-group">
                  <a class="list-group-item list-group-item-action" href="/webdev/processos/novo_projeto">Novo Projeto</a>
            </ul>
      </div>
</main>
{% endblock %}
