{% extends 'layout' %}
{% block main %}
<main class="bd-masthead" id="content" role="main">
      <div class="container">

      {% for entry in craft.entries.section('secestmark') %}
      {% for block in entry.matriz %}
      <hr>
      {{ block.imagem }}
      <br>
      {{ block.body }}
      <code>{{ block.codigo }}</code>
      {% endfor %}
      {% endfor %}

      </div>
</main>
{% endblock %}
